@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.loginHello {
  font-size: large;
  color: white;
}

.loginImage {
  padding-right: 30px;
  color: white;
}

body {
  font-family: 'Nunito', sans-serif;
  /* background-color: #ffffff; */
  font-family: 'Noto Sans KR', sans-serif;
}

.app__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #15161a;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
}

.app__navbar-logo a {
  color: #ffffff;
  text-decoration: none;
}

.HonBamGIF {
  background-image: url(../../assets/KakaoTalk_20231227_165552831.gif);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 5px;
  height: 90px;
  left: 12px;
  position: absolute;
  top: 14px;
  width: 200px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: baseline;
  align-items: center;
  padding-left: 180px;
  font-size: 15px;
  list-style: none;
}

.app__navbar-links a {
  color: #ffffff;
  text-decoration: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  padding-right: 30px;
}

.app__navbar-links a:hover {
  color: rgb(103, 99, 99);
}

.app__navbar-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.app__navbar-login li {
  padding: 20px 25px;
  list-style-type: none;
  margin: 10px;
}

.app__navbar-login li:hover {
  background-color: rgb(103, 99, 99);
  border-radius: 4px;
}

.app__navbar-login a {
  color: #ffffff;
  text-decoration: none;
}

.menu {
  list-style-type: none;
}

.app__navbar-toogleBtn {
  display: none;
  padding-left: 5px;
  font-size: 30px;
}

.userpaynormal {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.userpaynormal span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.userpaynormal:before,
.userpaynormal:after {
}
.userpaynormal:before {
  height: 0%;
  width: 2px;
}
.userpaynormal:after {
  width: 0%;
  height: 2px;
}
.userpaynormal:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.userpaynormal:hover:before {
  height: 100%;
}
.userpaynormal:hover:after {
  width: 100%;
}
.userpaynormal span:before,
.userpaynormal span:after {
}
.userpaynormal span:before {
  width: 2px;
  height: 0%;
}
.userpaynormal span:after {
  height: 2px;
  width: 0%;
}
.userpaynormal span:hover:before {
  height: 100%;
}
.userpaynormal span:hover:after {
  width: 100%;
}

.userpaypremium {
  background-image: url(../../assets/premium.png);
  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  height: 75px;
  right: 30%;
  position: absolute;
  top: 25px;
  width: 200px;
}

@media screen and (max-width: 1180px) {
  .app__navbar {
    flex-direction: column;
    align-items: center;
    padding: 8px 24px;
  }

  /* . {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  } */

  .app__navbar-links.active {
    display: flex;
  }

  .app__navbar-links li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .app__navbar-login {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .app__navbar-login.active {
    display: flex;
  }

  .app__navbar-toogleBtn {
    display: block;
  }
}
