@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* 테두리를 기준으로 크기를 정함 */
}

body {
  background-color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  /* a태그의 밑줄 제거 */
  color: #ffffff;
}

.app__navbar {
  display: flex;
  justify-content: space-between;
  /* 가로축-중심축
      요소들 사이에 동일한 간격 */
  align-items: center;
  /* 세로축-교차축
      컨테이너의 세로 축의 중앙으로 정렬 */
  background: #15161a;
  padding: 1rem 2rem;
  /* rem은 HTML의 요소의 크기에 상대적인 크기 단위 */
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  /* 가로축-중심축
      요소들을 컨테이너의 왼쪽으로 정렬 */
  align-items: center;
  color: #ffffff;
  font-size: 30px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  /* 세로축-교차축
      컨테이너의 세로 축의 중앙으로 정렬 */
  padding-left: 180px;
  font-size: 15px;
  list-style: none;
  /* li 기호가 제거 */
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
  padding-right: 30px;
}

.app__navbar-links a:hover {
  color: rgb(103, 99, 99);
}

.app__navbar-login {
  display: flex;
  justify-content: center;
  /* 가로축 - 중심축
    요소들을 컨테이너의 중앙으로 정렬 */
  align-items: center;
  /* 세로축-교차축
      컨테이너의 세로 축의 중앙으로 정렬 */
  padding-left: 0;
}

.app__navbar-login li {
  padding: 20px 25px;
  list-style-type: none;
  /* 기호 제거 */
  margin: 10px;
  padding: 10px;
}

.app__navbar-login li:hover {
  background-color: rgb(103, 99, 99);
  border-radius: 4px;
}

.menu {
  list-style-type: none;
  /* 기호 제거 */
}

.app__navbar-toogleBtn {
  display: none;
  padding-left: 5px;
  font-size: 30px;
}

@media screen and (max-width: 1180px) {
  .app__navbar {
    flex-direction: column;
    /* 위에서 아래로 */
    align-items: center;
    /* 세로축-교차축
        컨테이너의 세로 축의 중앙으로 정렬 */
    padding: 8px 24px;
  }

  .app__navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    /* 세로축-교차축
        컨테이너의 세로 축의 중앙으로 정렬 */
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }

  .app__navbar-links.active {
    display: flex;
  }

  .app__navbar-links li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  .app__navbar-login {
    display: none;
    justify-content: center;
    /* 가로축 - 중심축
        요소들을 컨테이너의 중앙으로 정렬 */
    width: 100%;
  }

  .app__navbar-login.active {
    display: flex;
  }

  .app__navbar-toogleBtn {
    display: block;
  }
}
