/* FeedTabs.module.css */
.wrapper {
  max-width: 600px;
  margin: 0 auto;
  color: #adc4d6;
}
.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}
.tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #bcd5e9;

}
.tabs button.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}
.content {
  margin-top: 20px;
}
