// 다크 테마 배경 및 기본 스타일
.payment-container {
  background-color: #141414;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-width: 700px;
  margin: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;

  // 화면 중앙 정렬을 위한 스타일
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.payment-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.payment-subtitle {
  font-size: 16px;
  color: #b3b3b3;
  margin-bottom: 20px;
}

.payment-info {
  margin: 20px 0;

  .payment-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #333;

    .payment-label {
      font-size: 20px;
      color: #b3b3b3;
      margin-right: 50px;
    }

    .payment-value {
      font-size: 17px;
      color: #fff;
    }

    .payment-value-highlight {
      font-size: 16px;
      font-weight: bold;
      color: #058ff8;
    }
  }
}

.payment-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #3182f6; // 버튼 호버 효과
  }
}

// 화면 전체에 컨테이너를 감싸는 스타일
html,
body {
  height: 100%;
  margin: 0;
}

// #root {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   background-color: #000; // 전체 화면 배경색 (선택 사항)
// }
