/* 전체 컨테이너 */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: #f5f5f5;
}

/* 회원가입 박스 */
.signup-box {
  width: 500px;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 회원가입 타이틀 */
.signup-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

/* 입력 그룹 */
.input-group {
  margin-bottom: 20px;
}

/* 입력 필드 라벨 */
.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

/* 입력 필드 */
.input-field {
  width: 100%;
  padding: 12px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* 회원가입 버튼 */
.signup-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #032029;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #02141a;
}

/* 프로필 사진 전체 컨테이너 */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* 프로필 미리보기 이미지 */
.profile-preview {
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

/* 프로필 사진 라벨 */
.profile-label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

/* 파일 업로드 버튼 숨기기 */
.input-file {
  display: none;
}
