.main-intro {
  .main-honbam {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 30px;
    font-weight: 700;
  }

  .honbam-intro {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
  }
}
