* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-intro {
  .main-honbam {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 30px;
    font-weight: 700;
  }

  .honbam-intro {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
  }
}

.main2-title {
  color: #ffffff;
  font-family: 'Inter-Black', Helvetica;
  font-size: 50px;
  position: absolute;
  top: 10%;
  left: 10%;

  .main2-intro {
    color: #ffffff;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 20px;
  }
}

.main-hotplace {
  color: #ffffff;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 20px;
  position: relative;
  top: 40%;
  left: 45%;
}

.main-recipe {
  position: relative;
  top: 15%;
  left: 10%;
  color: #ffffff;
  font-family: 'Inter-Black', Helvetica;
  font-size: 40px;
  font-weight: 900;
}

.main-recipe-intro {
  color: #ffffff;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 20px;
  font-weight: 500;
}

.main-recipe-detail.main-recipe-detail {
  position: relative;
  left: 70%;
  top: 42%;
}

.main3-title {
  color: #ffffff;
  font-family: 'Inter-Black', Helvetica;
  font-size: 50px;
  position: absolute;
  top: 10%;
  left: 50%;
}
