.main-intro {
  .main-honbam {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 30px;
    font-weight: 700;
  }

  .honbam-intro {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 20px;
    font-weight: 700;
  }
}

.main2-title {
  color: #ffffff;
  font-family: 'Inter-Black', Helvetica;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 20%;
}
