.board {
  background-color: #27262b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.board .div {
  background-color: #27262b;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.board .board-wrap {
  background-image: url(../assets/snsbackground.png);
  background-size: 100% 100%;
  height: 834px;
  left: 222px;
  position: absolute;
  top: 153px;
  width: 966px;
}
.board .nickbutton {
  background-color: #303658;
  outline: none;
  border: none;
  font-size: 25px;
  color: #ffffff;
}
.board .nickbutton:hover {
  cursor: pointer;
}
.board .commentBtn {
  background-color: #303658;
  background-color: #3c34ac00;
  outline: none;
  border: none;
  font-size: 25px;
  color: #ffffff;
}
.board .commentBtn:hover {
  cursor: pointer;
}

.board .boardbottom {
  height: 242px;
  left: 183px;
  position: absolute;
  top: 567px;
  width: 625px;
}

.board .date {
  height: 23px;
  left: 1px;
  position: absolute;
  top: 219px;
  width: 91px;
}

.board .text-wrapper {
  color: #b0adad;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 21px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 89px;
}
.board .text-wrapper-30 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 46px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 165px;
}

.board .comment-add {
  height: 28px;
  left: 60px;
  position: absolute;
  top: 172px;
  width: 132px;
}

.board .text-wrapper-2 {
  color: #b0adad;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 130px;
}
.board .text-wrapper-2:hover {
  cursor: pointer;
}

.board .profile {
  background-image: url('../assets/womanProfile.png');
  border-radius: 22px/23.5px;
  height: 47px;
  left: 0;
  position: absolute;
  top: 164px;
  width: 44px;
}

.board .comment-text {
  height: 28px;
  left: 1px;
  position: absolute;
  top: -25px;
  width: 244px;
}

.board .text-wrapper-3 {
  color: #b0adad;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 26px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 242px;
}
.board .text-wrapper-3:hover {
  cursor: pointer;
}

.board .id-text {
  height: 37px;
  left: 1px;
  position: absolute;
  top: 90px;
  width: 317px;
}

.board .text-wrapper-4 {
  color: #ffffff;
  background-color: #3c34ac00;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 315px;
}

.board .like-text {
  height: 30px;
  left: 1px;
  position: absolute;
  top: 50px;
  width: 199px;
}

.board .text-wrapper-5 {
  color: #ffffff;
  background-color: #3c34ac00;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 197px;
}

.board .save {
  background-image: url(../assets/save.png);
  height: 51px;
  left: 552px;
  position: absolute;
  top: 0;
  width: 73px;
}

.board .comment {
  background-image: url(../assets/comment.png);
  background-color: #3c34ac00;
  height: 44px;
  left: 60px;
  position: absolute;
  top: 3px;
  width: 38px;
}
.board .comment:hover {
  cursor: pointer;
}

.comment-add .intro-15 {
  background-color: rgba(0, 0, 255, 0);
  border: none;
  outline: none;
  color: #ffffff;
  width: 300px;
  top: 20px;
}
.write {
  background-color: rgba(0, 0, 255, 0);
  outline: none;
  color: #ffffff;
  margin-top: 0px;
}
.comment .intro-15 {
  color: #807878;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 650px;
  white-space: nowrap;
  width: 350px;
  outline: none;
  border: none;
}
.like > button {
  background-color: rgba(19, 19, 97, 0);
  border: none;
  outline: none;
  margin-top: -6px;
}
.like > button:hover {
  cursor: pointer;
}
p {
  font-size: 30px;
  margin-top: -5px;
  left: 10px;
  color: #ffffff;
}
.board .heart {
  font-size: 40px;
  transition: color 0.3s;
}

.board .liked {
  color: red;
}

.board .board-top {
  height: 468px;
  left: 174px;
  position: absolute;
  top: 88px;
  width: 654px;
}

.board .sns-board-img {
  background-image: url(../assets/snsboardimg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 415px;
  left: 0;
  position: absolute;
  top: 53px;
  width: 634px;
}
.board .commentList {
  background-color: rgba(0, 0, 255, 0);
  outline: none;
  color: #ffffff;
  margin-top: 0px;
}

.board .closed {
  background-color: rgba(0, 0, 255, 0);
  outline: none;
  color: #ffffff;
}

.board .more .moreBtn {
  background-image: url(../assets/more.png);
  background-color: #303658;
  outline: none;
  border: none;
  font-size: 10px;
  margin: 4px;
  height: 30px;
}
.board .more .moreBtn:hover {
  cursor: pointer;
}

.board .name {
  height: 43px;
  left: 59px;
  position: absolute;
  top: 4px;
  width: 134px;
}

.board .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 132px;
}

.board .profile-2 {
  background-image: url(../assets/womanProfile.png);
  border-radius: 22px/23.5px;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 44px;
}

.board .board-title {
  height: 33px;
  left: 442px;
  position: absolute;
  top: 26px;
  width: 117px;
}

.board .text-wrapper-7 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
  width: 115px;
}

.board .myDetail {
  background-color: #303658;
  background-image: url('../assets/bambam2.png');
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 400px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 61px;
  height: 58px;
  border: none;
  outline: none;
}

.board .myDetail:hover {
  cursor: pointer;
}

.board .side-bar {
  height: 95px;
  left: 60px;
  position: absolute;
  top: 25px;
  width: 1319px;
}

.board .sidebar-content {
  height: 22px;
  left: 267px;
  position: absolute;
  top: 41px;
  width: 1036px;
}

.board .logout {
  height: 15px;
  left: 981px;
  position: absolute;
  top: 2px;
  width: 57px;
}

.board .text-wrapper-8 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 55px;
}

.board .my-page {
  height: 20px;
  left: 886px;
  position: absolute;
  top: 2px;
  width: 62px;
}

.board .my-page-text {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 60px;
}

.board .BOARD {
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0;
  width: 57px;
}

.board .CHAT {
  height: 17px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 47px;
}

.board .text-wrapper-9 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 45px;
}

.board .RECIPE {
  height: 17px;
  left: 154px;
  position: absolute;
  top: 0;
  width: 58px;
}

.board .text-wrapper-10 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 56px;
}

.board .HOTPLACE {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.board .text-wrapper-11 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 84px;
}

.board .logo {
  height: 46px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 167px;
}

.board .text-wrapper-12 {
  color: #b6b2b2;
  background-color: #3c34ac00;
  font-family: 'Inter-Medium', Helvetica;
  font-size: 25px;
  font-weight: 500;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 167px;
  width: 315px;
}
.board .text-wrapper-12:hover {
  cursor: pointer;
}

.boardwrite {
  background-color: rgba(0, 0, 255, 0);
  outline: none;
  font-weight: bold;
  margin-top: 350px;
  margin-left: 150px;
}
