.join-page {
  background-color: #27262b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  zoom: 0.7;
}

.join-page .inputTextEmail {
  outline: none;
  border: none;
  width: 250px;
  padding-left: 0px;
  padding-top: 5px;
  font-size: 15px;
}

.join-page .emailOverlap {
  width: 500px;
  position: relative;
  top: 13px;
}

.join-page .phoneNumberMessage {
  width: 500px;
  position: relative;
  top: 13px;
}

.join-page .passwordMessage {
  width: 500px;
  position: relative;
  top: 13px;
}

.join-page .passwordCheckMessage {
  width: 500px;
  position: relative;
  top: 13px;
}

.join-page .nameCheckMessage {
  width: 500px;
  position: relative;
  top: 13px;
}

.join-page .addressCheckMessage {
  width: 500px;
  position: relative;
  top: 13px;
}

.join-page .thumbnail-box {
  padding-left: 100px;
  padding-top: 500px;
}

.join-page .signup-img-label {
  padding-left: 150px;
  font-size: 25px;
  font-style: bold;
}

.join-page .inputText {
  outline: none;
  border: none;
  width: 250px;
  padding-left: 0px;
  padding-top: 5px;
  font-size: 15px;
}

.join-page .div {
  background-color: #27262b;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.join-page .overlap-group {
  background-image: url(../../assets/jacek-dylag-p1djasp78ss-unsplash-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1185px;
  left: -650px;
  position: absolute;

  width: 2741px;
}

.join-page .group {
  height: 866px;
  left: 421px;
  position: relative;
  top: 21px;
  width: 598px;
}

.join-page .div-sign-container {
  background-color: #ffffffcc;
  border-radius: 8px;
  height: 866px;
  left: 700px;
  top: 100px;
  position: relative;
}

.join-page .input {
  background-color: #c72b2be6;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 116px;
  position: absolute;
  top: 801px;
  width: 372px;
}

.join-page .text-wrapper {
  color: #e3d9d9;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 23px;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 80px;
}

.join-page .div-wrapper {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #27262be6;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 114px;
  position: absolute;
  top: 742px;
  width: 372px;
}

.join-page .text-wrapper-2 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 23px;
  left: 162px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 49px;
}

.join-page .joinsubmit {
  background-color: #27262b;
  color: white;
  position: relative;
  width: 390px;
  height: 53px;
  right: 170px;
  bottom: 13px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.joinsubmit:hover {
  background: gray;
  color: white;
}

.join-page .cancleButton {
  background-color: red;
  color: white;
  position: relative;
  width: 390px;
  height: 53px;
  right: 156px;
  bottom: 13px;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  outline: red;
}

.cancleButton:hover {
  background: gray;
  color: white;
}

.join-page .div-agree-container {
  background-color: #fefefe;
  border: 1px solid;
  border-color: #000000;
  height: 243px;
  left: 116px;
  position: absolute;
  top: 489px;
  width: 370px;
}

.join-page .label {
  color: #000000;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  left: 41px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 197px;
  white-space: nowrap;
  width: 121px;
}

.join-page .label-input {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 2.5px;
  height: 13px;
  left: 25px;
  position: absolute;
  top: 204px;
  width: 13px;
}

.join-page .p {
  color: #000000;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  left: 41px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 140px;
  white-space: nowrap;
  width: 220px;
}

.join-page .label-input-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 2.5px;
  height: 13px;
  left: 25px;
  position: absolute;
  top: 160px;
  width: 13px;
}

.join-page .label-2 {
  color: #000000;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  left: 41px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 109px;
  white-space: nowrap;
  width: 136px;
}

.join-page .label-input-3 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 2.5px;
  height: 13px;
  left: 25px;
  position: absolute;
  top: 116px;
  width: 13px;
}

.join-page .label-3 {
  color: #000000;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  left: 41px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 65px;
  white-space: nowrap;
  width: 177px;
}

.join-page .label-input-4 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 2.5px;
  height: 13px;
  left: 25px;
  position: absolute;
  top: 72px;
  width: 13px;
}

.join-page .div-all-agree {
  background-color: #c5c5c5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #000000;
  height: 45px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 368px;
}

.join-page .label-4 {
  color: #000000;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 16px;
  font-weight: 300;
  height: 24px;
  left: 40px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 9px;
  white-space: nowrap;
  width: 81px;
}

.join-page .label-input-5 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 2.5px;
  height: 13px;
  left: 24px;
  position: absolute;
  top: 16px;
  width: 13px;
}

.join-page .div-placeholder-wrapper {
  background-color: #fefefe;
  height: 50px;
  left: 113px;
  position: absolute;
  top: 426px;
  width: 366px;
}

.join-page .div-placeholder {
  height: 20px;
  left: 12px;
  position: relative;
  top: 15px;
  width: 342px;
}

.join-page .text-wrapper-3 {
  color: #767676;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 310px;
}

.join-page .input-2 {
  background-color: #fefefe;
  height: 50px;
  left: 113px;
  position: absolute;
  top: 355px;
  width: 366px;
}

.join-page .input-3 {
  background-color: #fefefe;
  height: 50px;
  left: 113px;
  position: absolute;
  top: 288px;
  width: 366px;
}

.join-page .text-wrapper-4 {
  color: #767676;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 165px;
}

.join-page .input-4 {
  background-color: #fefefe;
  height: 50px;
  left: 113px;
  position: absolute;
  top: 218px;
  width: 366px;
}

.join-page .input-5 {
  background-color: #fefefe;
  height: 50px;
  left: 113px;
  position: absolute;
  top: 148px;
  width: 366px;
}

.join-page .input-6 {
  background-color: #27262be6;
  height: 49px;
  left: 403px;
  position: absolute;
  top: 79px;
  width: 76px;
}

.join-page .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 13px;
  font-weight: 700;
  height: 23px;
  left: 7.5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 49px;
}

.join-page .input-7 {
  background-color: #fefefe;
  height: 50px;
  left: 113px;
  position: absolute;
  top: 78px;
  width: 366px;
}

.join-page .text-wrapper-6 {
  color: #767676;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.join-page .join-header {
  color: #27262b;
  font-family: 'Noto Sans KR-Bold', Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 48px;
  left: 90px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 128px;
}

.join-page .heading {
  color: #191919;
  font-family: 'Noto Sans KR-Bold', Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 37px;
  left: 114px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 495px;
  white-space: nowrap;
  width: 233px;
}

.join-page .side-bar {
  height: 95px;
  left: -580px;
  position: absolute;
  top: 20px;
  width: 1319px;
}

.join-page .sidebar-content {
  height: 22px;
  left: 267px;
  position: absolute;
  top: 34px;
  width: 1015px;
}

.join-page .join {
  height: 15px;
  left: 981px;
  position: absolute;
  top: 2px;
  width: 36px;
}

.join-page .text-wrapper-7 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 34px;
}

.join-page .login {
  height: 20px;
  left: 901px;
  position: absolute;
  top: 2px;
  width: 48px;
}

.join-page .text-wrapper-8 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1200px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 46px;
}

.join-page .BOARD {
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0;
  width: 57px;
}

.join-page .text-wrapper-9 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 55px;
}

.join-page .CHAT {
  height: 17px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 47px;
}

.join-page .text-wrapper-10 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 45px;
}

.join-page .RECIPE {
  height: 17px;
  left: 154px;
  position: absolute;
  top: 0;
  width: 58px;
}

.join-page .text-wrapper-11 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 56px;
}

.join-page .HOTPLACE {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.join-page .text-wrapper-12 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 84px;
}

.join-page .logo {
  height: 46px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 152px;
}

.join-page .text-wrapper-13 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 35px;
  font-weight: 700;
  height: 46px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 150px;
}
