.box3 {
  height: 1023px;
  width: 1440px;
  zoom: 0.8;
}

.box3 .group {
  height: 1024px;
  left: 0;
  position: fixed;
  top: 0;
  width: 2400px;
}

.box3 .cancleButton {
  background-color: #c72b2be6;
  border: none;
}

.box3 .LOGIN {
  background-color: #27262b;
  height: 1024px;
  position: relative;
}

.box3 .overlap-group {
  background-image: url(../../assets/qui-nguyen-s6atlh5rf0u-unsplash-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1050px;
  left: 0;
  position: absolute;
  top: 115px;
  width: 2400px;
}

.box3 .div-sign-container {
  background-color: #ffffffcc;
  border-radius: 10px;
  height: 613px;
  left: 940px;
  position: relative;
  top: 120px;
  width: 594px;
}

.box3 .input {
  background-color: #c72b2be6;
  box3-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 116px;
  position: absolute;
  top: 522px;
  width: 362px;
}

.box3 .inputText {
  outline: none;
  border: none;
  width: 358px;
  padding-left: 15px;
}

.box3 .text-wrapper {
  color: #e3d9d9;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 23px;
  left: 141px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 80px;
}

.box3 .div-wrapper {
  background-color: #27262be6;
  box3-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 116px;
  position: absolute;
  top: 449px;
  width: 362px;
}

.box3 .div {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 62px;
}

.box3 .div-placeholder-wrapper {
  background-color: #fefefe;
  height: 50px;
  left: 116px;
  position: absolute;
  top: 354px;
  width: 362px;
}

.box3 .div-placeholder {
  height: 20px;

  position: relative;
  top: 15px;
  width: 338px;
}

.box3 .text-wrapper-2 {
  color: #767676;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 310px;
}

.box3 .input-2 {
  background-color: #fefefe;
  height: 50px;
  left: 116px;
  position: absolute;
  top: 294px;
  width: 362px;
}

.box3 .text-wrapper-3 {
  color: #767676;
  font-family: 'Noto Sans KR-DemiLight', Helvetica;
  font-size: 14px;
  font-weight: 300;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
  width: 165px;
}

.box3 .input-3 {
  background-color: #fefefe;
  height: 50px;
  left: 116px;
  position: absolute;
  top: 234px;
  width: 362px;
}

.box3 .input-4 {
  background-color: #fefefe;
  height: 50px;
  left: 116px;
  position: absolute;
  top: 174px;
  width: 362px;
}

.box3 .input-5 {
  background-color: #c5c5c5;
  height: 50px;
  left: 116px;
  position: absolute;
  top: 114px;
  width: 362px;
}

.box3 .div-placeholder-2 {
  height: 20px;
  position: relative;
  top: 15px;
}

.box3 .text-wrapper-4 {
  color: black;
  font-family: 'Inter-SemiBold', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 362px;
}

.box3 .heading {
  color: #27262b;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 51px;
  left: 116px;
  letter-spacing: 0;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 52px;
  white-space: nowrap;
  width: 153px;
}

.box3 .side-bar {
  height: 92px;
  left: 50px;
  position: absolute;
  top: 2px;
  width: 2134px;
}

.box3 .sidebar-content {
  height: 22px;
  left: 267px;
  position: absolute;
  top: 45px;
  width: 1015px;
}

.box3 .join {
  height: 15px;
  left: 981px;
  position: absolute;
  top: 2px;
  width: 36px;
}

.box3 .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1000px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 34px;
}

.box3 .login {
  height: 20px;
  left: 901px;
  position: absolute;
  top: 2px;
  width: 48px;
}

.box3 .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1000px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 46px;
}

.box3 .BOARD {
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0;
  width: 57px;
}

.box3 .text-wrapper-7 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 55px;
}

.box3 .CHAT {
  height: 17px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 47px;
}

.box3 .text-wrapper-8 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 45px;
}

.box3 .RECIPE {
  height: 17px;
  left: 154px;
  position: absolute;
  top: 0;
  width: 58px;
}

.box3 .text-wrapper-9 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 56px;
}

.box3 .HOTPLACE {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.box3 .text-wrapper-10 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 84px;
}

.box3 .logo {
  height: 46px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 152px;
}

.box3 .text-wrapper-11 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30%;
  width: 150px;
}
