.box12 {
  height: 1024px;
  width: 2400px;
  zoom: 0.7;
}

.box12 .group {
  height: 1024px;
  left: 0;
  position: fixed;
  top: 0;
  width: 2400px;
}

.box12 .LOGIN {
  background-color: #27262b;
  height: 1024px;
  position: relative;
}

.box12 .overlap-group {
  background-image: url(../../assets/Group-12.png);
  background-size: 100% 100%;
  height: 1200px;
  left: 0;
  position: absolute;
  top: 109px;
  width: 2750px;
}

.box12 .input-wrapper {
  height: 49px;
  left: 89px;
  position: absolute;
  top: 433px;
  width: 326px;
}

.box12 .input {
  background-color: #4315fae6;
  box12-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 200px;
  top: 100px;
  position: relative;
}

.box12 .input2 {
  background-color: #4315fae6;
  box12-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 700px;
  top: 100px;
  position: relative;
}

.box12 .input3 {
  background-color: #4315fae6;
  box12-shadow: 0px 4px 4px #00000040;
  height: 49px;
  left: 1150px;
  top: 100px;
  position: relative;
}

.box12 .text-wrapper {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  width: 62px;
}

.box12 .div-wrapper {
  height: 49px;
  left: 557px;
  position: absolute;
  top: 433px;
  width: 326px;
}

.box12 .div {
  height: 49px;
  left: 1037px;
  position: absolute;
  top: 433px;
  width: 326px;
}

.box12 .side-bar {
  height: 92px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 2400px;
}

.box12 .sidebar-content {
  height: 22px;
  left: 267px;
  position: absolute;
  top: 41px;
  width: 1015px;
}

.box12 .join {
  height: 15px;
  left: 981px;
  position: absolute;
  top: 2px;
  width: 36px;
}

.box12 .text-wrapper-2 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1050px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 34px;
}

.box12 .login {
  height: 20px;
  left: 901px;
  position: absolute;
  top: 2px;
  width: 48px;
}

.box12 .text-wrapper-3 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 1050px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 46px;
}

.box12 .BOARD {
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0;
  width: 57px;
}

.box12 .text-wrapper-4 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 55px;
}

.box12 .CHAT {
  height: 17px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 47px;
}

.box12 .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 45px;
}

.box12 .RECIPE {
  height: 17px;
  left: 154px;
  position: absolute;
  top: 0;
  width: 58px;
}

.box12 .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 56px;
}

.box12 .HOTPLACE {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.box12 .text-wrapper-7 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 84px;
}

.box12 .logo {
  height: 46px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 152px;
}

.box12 .text-wrapper-8 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 46px;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 150px;
}
