.profile-edit-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

// h2 {
//   text-align: center;
//   color: #333;
//   margin-bottom: 20px;
// }

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.save-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #032029;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #02141a;
}
