/* src/Component/Chat/ChatTabs.css */
.chat-tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.chat-tabs button {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #3e5975;
}

.chat-tabs button.active {
  border-bottom: 2px solid #007bff;
  color: #9ec1e5;
}
