.go-honbam-chat-frame {
  background-color: #27262b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  zoom: 0.8;
}

.go-honbam-chat-frame .go-honbam-wrapper {
  background-color: #27262b;
  height: 1024px;
  width: 1440px;
}

.go-honbam-chat-frame .go-honbam {
  height: 754px;
  left: 60px;
  position: relative;
  top: 25px;
  width: 1319px;
}

.go-honbam-chat-frame .chat-go-btn {
  height: 56px;
  left: 850px;
  position: absolute;
  top: 698px;
  width: 123px;
}

.go-honbam-chat-frame .group {
  height: 56px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 75px;
}
.go-honbam-chat-frame .group:active {
  opacity: 0.6; /* 클릭 시 투명도 조절 가능 */
  transform: translateY(2px); /* 클릭 시 약간 아래로 이동하는 효과 */
  /* 다른 클릭 시에 적용할 스타일 속성들 추가 가능 */
}

.go-honbam-chat-frame .text-wrapper {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 73px;
}
.go-honbam-chat-frame .text-wrapper:hover {
  color: #d7466c;
}

.go-honbam-chat-frame .div {
  height: 296px;
  left: 378px;
  position: absolute;
  top: 210px;
  width: 600px;
}

.go-honbam-chat-frame .chat-intro {
  height: 182px;
  left: 0;
  position: absolute;
  top: 114px;
  width: 565px;
}

.go-honbam-chat-frame .HONBAM {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 45px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
  width: 590px;
  margin-top: 0;
}

.go-honbam-chat-frame .line {
  height: 6px;
  left: 2px;
  position: absolute;
  top: 97px;
  width: 590px;
  background-color: #ffffff;
}

.go-honbam-chat-frame .chat-title {
  height: 86px;
  left: 0;
  position: absolute;
  top: 0;
  width: 238px;
}

.go-honbam-chat-frame .text-wrapper-2 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 80px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 236px;
}

.go-honbam-chat-frame .logout {
  height: 15px;
  left: 981px;
  position: absolute;
  top: 2px;
  width: 57px;
}

.go-honbam-chat-frame .text-wrapper-3 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 55px;
}

.go-honbam-chat-frame .my-page {
  height: 20px;
  left: 886px;
  position: absolute;
  top: 2px;
  width: 62px;
}

.go-honbam-chat-frame .my-page-text {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 60px;
}

.go-honbam-chat-frame .BOARD {
  height: 17px;
  left: 395px;
  position: absolute;
  top: 0;
  width: 57px;
}

.go-honbam-chat-frame .CHAT {
  height: 17px;
  left: 280px;
  position: absolute;
  top: 0;
  width: 47px;
}

.go-honbam-chat-frame .text-wrapper-4 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 45px;
}

.go-honbam-chat-frame .RECIPE {
  height: 17px;
  left: 154px;
  position: absolute;
  top: 0;
  width: 58px;
}

.go-honbam-chat-frame .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 56px;
}

.go-honbam-chat-frame .HOTPLACE {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 86px;
}

.go-honbam-chat-frame .text-wrapper-6 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 15px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 84px;
}

.go-honbam-chat-frame .logo {
  height: 46px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 167px;
}

.go-honbam-chat-frame .text-wrapper-7 {
  color: #ffffff;
  font-family: 'Inter-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 46px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 165px;
}
